--swiftversion 6.2
--indent 4
--tab-width 4
--linebreaks lf
--max-width 140
--ifdef no-indent
--indent-case false
--allman false
--semicolons inline
--ranges no-space
--operator-func spaced
--trailing-commas collections-only
--trim-whitespace always
--empty-braces spaced
--wrap-arguments before-first
--wrap-parameters before-first
--wrap-collections before-first
--wrap-conditions preserve
--wrap-return-type preserve
--wrap-effects preserve
--closing-paren balanced
--call-site-paren balanced
--allow-partial-wrapping true
--no-wrap-operators =
--import-grouping alpha

--disable all
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenImports
--enable braces
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable elseOnSameLine
--enable emptyBraces
--enable indent
--enable linebreakAtEndOfFile
--enable linebreaks
--enable semicolons
--enable sortImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable trailingCommas
--enable trailingSpace
--enable wrap
--enable wrapArguments
